.navbar_container {
  width: 100%;
  font-size: 20px;
  border-bottom: 3px solid #f2f3f5;
  border-top: 3px solid #f2f3f5;
  background: rgba(4, 1, 19, 0.5);
}

@media (min-width: 769px) {
  .navbar_icons {
    position: absolute;
    right: 5%;
  }
}

#navbar .active {
  text-decoration: underline;
  background-color: yellow;
}
