/* Overall styles */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 100px;
}

.section_dark {
  color: #f5f6f7;
  background-color: #020202;
}

.section_bright {
  color: #020202;
  background-color: #f5f6f7;
}

.section_title {
  font-size: 2rem;
  padding: 15px 0;
}

.section_description {
  font-size: 1.2rem;
  color: #584e4e;
}

.section_text {
  font-size: 1.2rem;
  text-align: justify;
}

.black_text {
  color: #020202;
}

.white_text {
  color: #f5f6f7;
}

/* Hero section */

.container_general {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f6f7;
}

.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

.hero_principal {
  padding: 3rem;
}

.hero_principal h2 {
  font-size: 1.5rem;
  color: #615151;
}

.hero_profile_pic {
  margin: 20px;
  object-fit: cover;
  object-position: center;
}

.hero_lower_image {
  margin: 10px;
  object-fit: cover;
  object-position: center;
}

/* About me */
.about_me {
  height: 100%;
  padding: 20px;
  width: 100%;
}

.about_me .container {
  max-width: 600px;
}

/* Proyects */
.proyects {
  padding: 40px;
}

/* Responsive media queries */
@media screen and (max-width: 767px) {
  .navbar_brand {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .hero_lower_image {
    max-width: 400px;
  }
}
