.carousel_item {
  color: #fff;
  font-weight: 700;
  font-size: large;
}

.carousel_caption {
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

h3 {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.carousel_item img {
  width: 140rem;
  height: 40rem;
}

@media (max-width: 768px) {
  .carousel_item img {
    width: 100%;
    height: 100%;
  }
}
