.projects_heading {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2%;
  border-top: 3px solid rgba(4, 1, 19, 0.9);
  padding-top: 2%;
}

.project {
  line-height: 1.5;
  color: rgb(96, 96, 96);
  margin-top: 2%;
}

.profile_area {
  padding: 100px;
  padding-top: 20px;
  padding: 30px 100px 150px 100px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .profile_area {
    padding: 20px;
  }
}

.card {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  background: rgb(255, 255, 255);
  height: auto;
  padding-bottom: 20px;
  border: none;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.main_text h2 {
  text-transform: uppercase;
  font-weight: 900;
  margin: 0 0 20px;
}

.main_text {
  padding: 30px 0;
  text-align: center;
}

.main_text p {
  padding: 0 35px;
}

.img1 img {
  height: 250px;
  width: 100%;
  border-radius: 0;
}

.card_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.1s ease;
  background-color: rgba(13, 13, 13, 0.9);
  color: white;
}

.card:hover .card_overlay {
  opacity: 1;
}

.card_overlay .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img2 img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 4px solid rgb(113, 113, 113);
  margin-top: -80px;
  cursor: pointer;
}

.card:hover .img2 img {
  border: 6px solid rgb(1, 1, 1);
  transform: scale(1.1);
  transition: 0.1s;
}

.tooltip {
  width: 170px;
  background: #000;
  color: #fff;
  padding: 5px;
  margin-top: 10px;
  border-radius: 0;
  font-size: 16px;
}

.stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card:hover .iconStar {
  display: none;
}

@media (max-width: 768px) {
  style.buttonColumns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.socials a {
  font-size: 25px;
  padding: 0 20px;
  cursor: pointer;
}

.buttonCard {
  padding: 10px;
  font-size: 17px;
}

@media (max-width: 768px) {
  .buttonCard {
  }
  .buttonColumns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
}

.card:hover .socials {
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .about_col_text {
    margin: 0% 5%;
  }
}

@media screen and (max-width: 768px) {
  .main_text h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .main_text p {
    font-size: 14px;
    padding: 0 25px;
  }
}

@media screen and (max-width: 480px) {
  .main_text p {
    font-size: 12px;
    padding: 0 15px;
  }
}

@media screen and (max-width: 768px) {
  .img1 img {
    height: 200px;
  }
}

@media screen and (max-width: 480px) {
  .img1 img {
    height: 180px;
  }
}

@media screen and (max-width: 768px) {
  .img2 img {
    width: 120px;
    height: 120px;
    margin-top: -70px;
  }
}

@media screen and (max-width: 480px) {
  .img2 img {
    width: 100px;
    height: 100px;
    margin-top: -60px;
  }
}

@media screen and (max-width: 768px) {
  .stars {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 480px) {
  .popover {
    size: 30rem;
    max-height: 16%;
  }
}

@media screen and (max-width: 768px) {
  .popover {
    height: 23rem;
    width: 45rem;
  }
}
