.landing {
  background-image: url(../../Assets/Landing-gif.gif);
  background-color: #161f37;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.buttonGeneral {
  padding: 0.5rem 1rem 0.5rem 2rem;
  font-size: 23px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-weight: 600;
}

.buttonStyles {
  position: absolute;
  top: 60vh;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: auto;
  white-space: nowrap;
}

.divOnHover {
  display: inline-block;
}

@media (max-width: 768px) {
  .landing {
    background-image: url(../../Assets/Landing-gif.gif);
    background-size: 100vh;
    height: 100vh;
    background-color: #161f37;
  }
  .buttonGeneral {
    padding: 3;
    padding-left: 14px;
    font-size: 2.5vw;
  }
  .buttonStyles {
    top: 58vh;
  }
  .icon_arrow {
    width: 1.2rem;
  }
}
