.container_general {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
}

.about {
  color: 'white';
  margin-top: 3%;
  margin-bottom: 5%;
}

.about_col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_img {
  object-fit: cover;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  margin-bottom: 2%;
  width: 20rem;
  height: 20rem;
}

@media (max-width: 768px) {
  .about_img {
    width: 12rem;
    height: 12rem;
  }
}

.about_heading {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2%;
  border-top: 3px solid rgba(4, 1, 19, 0.9);
  padding-top: 2%;
}

.about_techs {
  display: flex;
  flex-direction: row;
}
