.container_general {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

@media (max-width: 768px) {
  .container_general {
    height: 130vh;
  }
}

@media (max-width: 480px) {
  .container_general {
    height: 190vh;
  }
}

.about {
  height: 100%;
  width: 100%;
  font-size: 1.1rem;
  line-height: 1.5;
  color: rgb(96, 96, 96);
  margin-top: 5%;
  margin-bottom: 5%;
}

.about_row {
  align-items: center;
}

.about_col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_col_left {
  margin: 0% 0%;
}

.about_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about_tech_img {
  height: 100%;
}

.about_col_text {
  margin: 0% 0%;
  padding-right: 30%;
}

.about_heading {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2%;
  border-bottom: 2px solid rgb(96, 96, 96);
}

.about_technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about_techs {
  display: flex;
  flex-direction: row;
}
