/* responsive card for cellphone: */

.cardAbout {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
  color: white;
  /* linear gradient: */
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  margin: 0.8rem;
  width: 12rem;
}

@media (max-width: 420px) {
  .cardAbout {
    width: 8rem;
  }
}
