.experience_container {
  width: 100%;
  height: 100%;
}

.experience_container p {
  font-size: 16px;
  font-weight: 400;
}

.about_heading {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2%;
  width: 100%;
  border-top: 3px solid rgba(4, 1, 19, 0.9);
  padding-top: 2%;
}

@media (max-width: 480px) {
  .date {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .about_heading {
    font-size: 2rem;
  }
}

.construction_text {
  display: flex;
  align-items: center;
  margin-left: 5%;
  background-color: rgb(0, 108, 0);
  padding: 1.5%;
  color: white;
  font-size: 17px;
  border-radius: 15px;
}

@media (max-width: 480px) {
  .construction_text {
    margin-left: 1%;
    margin-right: 4%;
    padding: 3%;
    font-size: 12px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .construction {
    margin-right: 20%;
    padding: 10px;
    justify-content: center;
  }
}
