.landing {
  background-image: url(../../Assets/Landing-gif.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.buttonGeneral {
  padding: 12px;
  padding-left: 18px;
  font-size: 23px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-size: 23px;
  font-weight: 600;
}

.divOnHover {
  display: inline-block;
}

@media (max-width: 768px) {
  .landing {
    background-image: url(../../Assets/Landing-gif-cell.gif);
  }
  .buttonGeneral {
    padding: 4px;
    padding-left: 15px;
    font-size: 19px;
  }
}
