.about_heading {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2%;
  border-bottom: 2px solid rgb(96, 96, 96);
  margin-top: 2%;
}

/* CONTACT */
#contact .form-control {
  background-color: var(--color-base);
  border-color: var(--color-base);
  color: var(--color-body);
}

#contact .form-control:focus {
  border-color: var(--color-brand);
  box-shadow: none;
}

#contact .form-control::placeholder {
  color: var(--color-body);
}

#contact input.form-control {
  height: 44px;
}

h1 {
  color: var(--color-heading);
  font-weight: 700;
}
