.contact_container {
  width: 100%;
  height: 80vh;
}

@media (max-width: 768px) {
  .contact_container {
    height: auto;
  }
}

.getInTouch_heading {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2%;
  border-top: 3px solid rgba(4, 1, 19, 0.9);
  padding-top: 2%;
}

@media (max-width: 768px) {
  .getInTouch_heading {
    font-size: 2.3rem;
  }
}

.formContainer {
  height: auto;
  padding: 1rem;
}

.title {
  color: #ffffff;
  font-weight: 700;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }
}
