.navbar_container {
  width: 100%;
  font-size: 20px;
  background: rgba(4, 1, 19, 0.5);
  border: rgba(4, 1, 19, 0.5);
  color: white;
}

.navbar_dropdown {
  color: rgb(255, 255, 255);
  margin-left: 15px;
}

@media (min-width: 769px) {
  .navbar_icons {
    position: absolute;
    right: 5%;
  }
}

@media (max-width: 768px) {
  .navbar_container {
    background: rgba(4, 1, 19, 0.9);
  }
}
