URL_DB=mongodb+srv://...
PORT=3001

EMAIL_JS_SERVICEID=service_...
EMAIL_JS_TEMPLATEID=template_...
EMAIL_JS_PUBLICKEY=...
EMAIL_JS_PRIVATEKEY=...

AWS_BUCKET_NAME=...
AWS_BUCKET_REGION=us-east-2
AWS_ACCESS_KEY=...
AWS_SECRET_KEY=...

JWT_SECRET=...